<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuyk.blog.dao.AttachDoMapper">
    <resultMap id="BaseResultMap" type="com.wuyk.blog.pojo.AttachDo">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="fname" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ftype" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="fkey" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="author_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="created" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, fname, ftype, fkey, author_id, created
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_attach
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_attach
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wuyk.blog.pojo.AttachDo">
        insert into t_attach (id, fname, ftype, fkey, author_id, created)
        values (#{id,jdbcType=INTEGER},
                #{fname,jdbcType=VARCHAR},
                #{ftype,jdbcType=VARCHAR},
                #{fkey,jdbcType=VARCHAR},
                #{authorId,jdbcType=INTEGER},
                #{created,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.wuyk.blog.pojo.AttachDo">
        insert into t_attach
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fname != null">
                fname,
            </if>
            <if test="ftype != null">
                ftype,
            </if>
            <if test="fkey != null">
                fkey,
            </if>
            <if test="authorId != null">
                author_id,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fname != null">
                #{fname,jdbcType=VARCHAR},
            </if>
            <if test="ftype != null">
                #{ftype,jdbcType=VARCHAR},
            </if>
            <if test="fkey != null">
                #{fkey,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wuyk.blog.pojo.AttachDo">
        update t_attach
        <set>
            <if test="fname != null">
                fname = #{fname,jdbcType=VARCHAR},
            </if>
            <if test="ftype != null">
                ftype = #{ftype,jdbcType=VARCHAR},
            </if>
            <if test="fkey != null">
                fkey = #{fkey,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wuyk.blog.pojo.AttachDo">
        update t_attach
        set fname     = #{fname,jdbcType=VARCHAR},
            ftype     = #{ftype,jdbcType=VARCHAR},
            fkey      = #{fkey,jdbcType=VARCHAR},
            author_id = #{authorId,jdbcType=INTEGER},
            created   = #{created,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="countByExample" parameterType="com.wuyk.blog.pojo.vo.AttachVo"
            resultType="java.lang.Long">
        select count(*) from t_attach
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <select id="selectByExample" parameterType="com.wuyk.blog.pojo.vo.AttachVo" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_attach
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
</mapper>